// Theme's Styles
@import("C:/Users/Hp/web projects/docs/docs/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/Hp/web projects/docs/docs/src/.vuepress/styles/index.styl")