@import "./theme.less";


html {
  height: 100%;
  font-size: 62.6%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  color: inherit;
  border: inherit;
  background: inherit;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  // Default font size on body 16px (1rem = 10px)
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  background: white;
}

@media screen and (min-width:700px) {
  html {
    font-size: 66%;
  }
}


.btn {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: 150px;
  -webkit-tap-highlight-color: transparent;
  padding: 10px;
  text-align: center;
  user-select: none;
}

.btn2 {
  text-decoration: none;
  color: inherit;
  width: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 10px;
  background: #f6f6f6;
  border-radius: 5px;
  color: @color;

  &:hover {
    background: @blue;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  span {
    padding: 0 7px;
  }

  i {
    font-size: 1.7rem;
  }
}

.bu-link {
  padding: 0;
  color: inherit;
  font-style: normal;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.catch {
  color: @grey;
}

.alert-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, @blue 0%, #4884ee 74%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: left;

  a {
    color: #f2f2f2;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    user-select: none;
  }

  img {
    width: 40px;
    height: 40px;
  }

  p {
    margin-left: 20px;
    color: white;
  }
}

.bu-link {
  text-decoration: none;
  color: @blue2;
}